root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
tab_width = 4

[*.{js,py}]
charset = utf-8

[*.py]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[lib/**.js]
indent_style = space
indent_size = 2

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
